.blog-wrapper .date {
  color: var(--secondary);
  display: block;
  margin-top: 2rem;
}
.blog-wrapper h1 {
  color: var(--main);
  margin-top: 0;
  font-weight: bold;
}

.blog-wrapper {
  padding-top: 100px;
}

.blog-wrapper .post {
  display: block;
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
  text-decoration: none;
  color: var(--secondary);
  transition: all 0.2s ease;
}

.blog-wrapper .post:hover {
  transform: scale(1.02);
  transition: all 0.2s ease;
}

.post-single-wrapper {
  color: var(--secondary);
}

a {
  color: var(--main);
}

.post-single-wrapper .content {
  color: var(--secondary);
}

.block-blog-preview .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10rem;
}
.block-text img {
  height: auto;
  max-width: 100%;
}
@media (max-width: 800px) {
  .block-blog-preview .grid {
    grid-template-columns: 1fr;
  }
}
.block-blog-preview .grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.block-blog-preview .grid .post {
  position: relative;
}

.block-blog-preview {
  padding: 100px 10vw;
}

.block-blog-preview .thumb {
  padding-bottom: 100%;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.block-blog-preview .date {
  display: block;
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--secondary);
}

.block-blog-preview h2 {
  color: var(--main);
  text-align: center;
  margin-bottom: 5rem;
}

.block-blog-preview h3 {
  margin-top: 0;
}

.block-blog-preview a {
  text-decoration: none;
  transition: all 0.2s ease;
}

.block-blog-preview a:hover {
  transform: scale(1.02);
  transition: all 0.2s ease;
}

.block-faq {
  padding: 100px 10vw;
}

.block-faq .antwort {
  display: none;
  color: var(--secondary);
}

.block-faq .frage {
  font-size: 2rem;
  color: var(--main);
  cursor: pointer;
  padding: 1rem;
  font-weight: 300;
}

@media (max-width: 800px) {
  .block-faq .frage {
    font-size: 1.5rem;
  }
}

.block-faq .open .frage:after {
  content: "ᐳ";
  color: #ccc;
  float: right;
  transform: rotate(90deg);
}

.block-faq .frage:after {
  content: "ᐳ";
  color: #ccc;
  float: right;
}

.block-faq .open .antwort {
  display: block;
  padding: 1rem;
}

.block-faq .item {
  border-bottom: 1px solid #ccc;
}
.block-text.text-bg {
  background-color: var(--main);
}

.social {
  margin-top: 1rem;
}
.social a {
  opacity: 0.5;
}

@media (max-width: 800px) {
  .block-text.text-bg {
    padding: 0;
    background-color: var(--main);
  }
}

#hamburger {
  z-index:0;
}
.hamburger-icon,
.hamburger-icon:after,
.hamburger-icon:before {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);gi
}
